* {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.section-header {
  text-align: center;
  color: #0d0d0d;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.button {
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  color: #c70101;
  font-weight: 900;
}
.button:active,
.button:focus {
  outline: none;
}
.input {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 10px 15px 20px;
  border: none;
  border-radius: 5px;
  color: #000;
}
.input:focus {
  outline: none;
}
.input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-button {
  width: 100%;
  font-size: 16px;
  padding: 15px 0;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.promo {
  background: url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
  padding-bottom: 93px;
}
.promo h1 {
  margin-top: 91px;
  margin-bottom: 15px;
  text-align: right;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
}
.promo h2 {
  text-align: right;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}
.promo__descr-block {
  width: 25%;
  text-align: center;
}
.promo__descr-block p {
  margin-top: 15px;
}
.promo__footer {
  text-align: right;
}
.promo__footer p {
  margin-top: 15px;
  font-size: 16px;
}
.promo__footer a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}
.promo-button {
  margin-top: 60px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
}
.header__logo {
  margin-top: 24px;
}
.header__logo img {
  width: 100%;
}
.header__offical {
  margin-top: 28px;
  text-align: right;
  font-size: 12px;
}
.header__offical span {
  display: block;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.header__tel {
  margin-top: 21px;
  text-align: center;
}
.header__tel a {
  font-size: 18px;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  color: #fff;
}
.header__tel .header-button {
  margin-top: 3px;
  width: 150px;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
.features-section {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
}
.features-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 65px;
}
.features-section__block {
  width: 25%;
  text-align: center;
  padding: 0 7px 0 10px;
  min-height: 250px;
}
.features-section__block h3 {
  margin-top: 32px;
  color: #0d0d0d;
  font-size: 18px;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
}
.features-section__block p {
  margin-top: 22px;
  margin-bottom: 0;
  color: #0d0d0d;
}
.features-section__block p span {
  color: #c70101;
}
.features-section__block .heartbeat {
  -webkit-animation: heartbeat 2s ease 2s infinite;
          animation: heartbeat 2s ease 2s infinite;
}
.consultation {
  background: url(../img/consultation/bg.png) center center / cover no-repeat;
  padding: 100px 0 90px 0;
}
.consultation-header {
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.consultation h3 {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
}
.consultation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}
.carousel {
  padding: 100px 0;
}
.carousel__inner {
  position: relative;
  max-width: 750px;
  height: 580px;
  margin: 0 auto;
}
.carousel__inner img {
  width: 100%;
}
.carousel__inner .slick-prev,
.carousel__inner .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -65px;
  width: 31px;
  height: 50px;
  background-color: #fff;
  border: none;
}
.carousel__inner .slick-next {
  left: auto;
  right: -65px;
}
.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  margin: 0 5px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
.catalog__tab:hover {
  border: none;
  -webkit-box-shadow: 3px 3px 20px #c70101;
          box-shadow: 3px 3px 20px #c70101;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  text-align: center;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 48px;
}
.catalog__tab_active {
  background-color: #c70101;
}
.catalog__tab_active div {
  color: #fff;
}
.catalog__content {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 300px;
  margin: 0 10px 20px 0;
  padding: 20px 19px 26px 20px;
  border: 2px solid #e8e8e8;
  overflow: hidden;
  text-align: center;
}
.catalog-item__img {
  max-height: 200px;
  max-width: 140px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Museo Sans Cyrl 700";
  color: #0d0d0d;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-weight: 300;
  font-size: 14px;
  font-weight: 400;
}
.catalog-item__link {
  display: inline-block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  text-decoration: underline;
}
.catalog-item__link:hover {
  color: #a80808;
}
.catalog-item__line {
  margin: 20px 0;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__prices {
  color: #050505;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.catalog-item__through {
  color: #555555;
  font-size: 14px;
  text-decoration: line-through;
}
.catalog-item__button {
  width: 130px;
  height: 40px;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  text-align: left;
  padding-right: 20px;
  color: #555555;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__list_active {
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 17px;
}
.catalog-item__list_active ul {
  padding: 0;
  list-style: none;
}
.catalog-item__list_active li {
  position: relative;
  margin-bottom: 20px;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
}
.catalog-item__list_active li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: -19px;
  width: 5px;
  height: 5px;
  background-color: #c70101;
}
.catalog-item_back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 17px));
          transform: translateX(calc(-50% - 17px));
  color: #c70101;
}
.catalog-item_back:hover {
  color: #c70101;
}
.feedback {
  padding-bottom: 70px;
}
.feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 70px;
}
.feedback-block:nth-child(2) {
  margin-top: 100px;
}
.feedback-block:nth-child(3) {
  margin-top: 100px;
}
.feedback-block__img {
  margin-right: 62px;
}
.feedback-block__title {
  margin-bottom: 0px;
  color: #0d0d0d;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.feedback-block__subtitle {
  margin-top: 10px;
  color: #646464;
  font-weight: 300;
}
.feedback-block__text {
  margin-top: 19px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.footer {
  position: relative;
}
.footer-info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 60px;
  width: 460px;
  height: 270px;
  background-color: #c70101;
  text-align: center;
}
.footer-info address {
  margin-bottom: 0;
  font-size: 20px;
}
.footer-info a {
  display: block;
  margin-top: 35px;
  font-size: 20px;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  color: #fff;
}
.footer__social {
  margin-top: 38px;
}
.footer__social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  border: 2px solid #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.footer__social a:hover {
  border: 2px solid #2f4da0;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  text-align: center;
  z-index: 9;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 38px 37px 40px 42px;
  width: 380px;
  min-height: 425px;
  background-color: #f2f2f2;
  z-index: 10;
}
.popup__content_mini {
  min-height: 140px;
}
.popup__header {
  margin-bottom: 0;
  color: #0d0d0d;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.popup__subtitle {
  margin-top: 11px;
  margin-bottom: 25px;
  color: #0d0d0d;
  font-size: 14px;
}
.popup__close {
  position: absolute;
  border: none;
  font-size: 41px;
  line-height: 50px;
  color: #c70101;
  background-color: transparent;
  top: -13px;
  right: -45px;
  z-index: 99;
}
.popup__close:focus {
  outline: none;
}
#consultation,
#order,
#request {
  display: none;
}
@media (max-width: 1199.98px) {
  .promo h1 {
    font-size: 35px;
  }
  .promo h2 {
    font-size: 20px;
  }
  .features-section__block p {
    font-size: 13px;
  }
  .carousel_inner img {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 991.98px) {
  .header__logo img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .header__offical {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .promo h1 {
    text-align: center;
    font-size: 40px;
  }
  .promo .promo h2 {
    font-size: 25px;
  }
  .promo-wrapper {
    margin-top: 73px;
    padding: 0 20px;
  }
  .promo__footer {
    text-align: center;
  }
  .features-section {
    padding-bottom: 0;
  }
  .features-section__block p {
    display: none;
  }
  .consultation-header {
    font-size: 25px;
  }
  .consultation h3 {
    line-height: 23px;
    font-size: 17px;
    text-align: center;
  }
  .carousel__inner {
    height: 450px;
  }
  .carousel__inner .slick-next {
    left: auto;
    right: -20px;
  }
  .carousel__inner .slick-prev {
    right: auto;
    left: -20px;
  }
  .carousel__inner .slick-prev,
  .carousel__inner .slick-next {
    top: 35%;
  }
  .carousel__inner img {
    width: 80%;
    margin: 0 auto;
  }
  .feedback-block__text {
    font-size: 14px;
  }
  .footer-info {
    padding: 30px 45px;
    width: 450px;
    height: 255px;
  }
}
@media (max-width: 767.98px) {
  .header__logo img {
    width: 60%;
  }
  .promo h1 {
    font-size: 35px;
  }
  .promo h2 {
    font-size: 19px;
  }
  .features-section__block h3 {
    font-size: 16px;
  }
  .consultation-header {
    font-size: 22px;
  }
  .consultation h3 {
    font-size: 15px;
    text-align: left;
  }
  .carousel__inner {
    height: 380px;
  }
  .carousel__inner .slick-prev,
  .carousel__inner .slick-next {
    z-index: 9;
  }
  .catalog__tab div {
    font-size: 14px;
  }
  .catalog-item {
    width: 245px;
  }
  .catalog-item__prices {
    font-size: 14px;
  }
  .catalog-item__through {
    font-size: 12px;
  }
  .feedback-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-info {
    width: 420px;
  }
}
@media (max-width: 575.98px) {
  .promo h1 {
    font-size: 23px;
  }
  .promo h2 {
    font-size: 12px;
  }
  .promo-wrapper {
    padding: 0 5px;
  }
  .promo__descr-block p {
    font-size: 9px;
  }
  .promo-button {
    width: 80%;
    height: 45px;
  }
  .section-header {
    font-size: 22px;
  }
  .features-section__block h3 {
    font-size: 14px;
    margin-top: 10px;
  }
  .features-section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-section__block {
    width: 50%;
    min-height: 170px;
  }
  .consultation h3 {
    font-size: 12px;
    text-align: center;
  }
  .consultation-header {
    font-size: 13px;
    text-align: center;
    line-height: 23px;
  }
  .consultation__block {
    margin: 0 auto;
    max-width: 250px;
  }
  .carousel {
    padding: 90px 0;
  }
  .carousel__inner {
    height: 240px;
  }
  .carousel__inner img {
    width: 75%;
  }
  .carousel__inner .slick-prev,
  .carousel__inner .slick-next {
    z-index: 9;
    top: 28%;
  }
  .carousel__inner .slick-prev:focus,
  .carousel__inner .slick-next:focus {
    outline: none;
  }
  .carousel__inner .slick-prev {
    left: -1px;
  }
  .carousel__inner .slick-next {
    right: -1px;
  }
  .catalog-item__content {
    padding-right: 20px;
  }
  .catalog-item__content_active {
    padding-right: 0;
  }
  .catalog-item__list_active li {
    font-size: 13px;
  }
  .catalog__tab {
    width: 100px;
    height: 40px;
  }
  .catalog__tab div {
    font-size: 9px;
    line-height: 35px;
  }
  .feedback-block {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-block__img {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-info {
    width: 300px;
  }
  .footer__social a {
    margin: 0px 5px;
  }
  .popup__content {
    padding: 30px 30px 30px 30px;
    width: 290px;
    min-height: auto;
  }
  .popup__header {
    font-size: 14px;
  }
  .popup__subtitle {
    font-size: 11px;
  }
  .feed-button {
    font-size: 11px;
  }
  .input {
    padding: 10px 5px 7px 10px;
  }
}
@media (max-width: 400px) {
  .popup__content {
    width: 240px;
  }
}
.up-arrow {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
}
.up-arrow img {
  width: 100%;
}
