@media (max-width: 1199.98px) { 

    .promo{

        h1{
            font-size: 35px;
        }

        h2{
            font-size: 20px;
        }

    }

    .features-section__block p{
        font-size: 13px;
    }

    .carousel{
        &_inner{
            img{
                margin: 0 auto;
                width: 80%;
            }
        }
    }

 }

 @media (max-width: 991.98px) {

    .header{

        &__logo{

            img{
                display: block;
                width: 50%;
                margin: 0 auto;
            }
        }

        &__offical{
            display: none;
        }

        &__tel{
            display: none;
        }
    }

    .promo{

        h1{
            text-align: center;
            font-size: 40px;
        }

        .promo h2 {
            font-size: 25px;
        }

        &-wrapper{
            margin-top: 73px;
            padding: 0 20px;
        }

        &__footer {
            text-align: center;
        }
    }

    .features-section{
        padding-bottom: 0;

        &__block{
            p{
                display: none;
            }
        }
    }

    .consultation{

        &-header{
            font-size: 25px;
        }

        h3{
            line-height: 23px;
            font-size: 17px;
            text-align: center;
        }
    }

    .carousel{
        &__inner{
            height: 450px;

            .slick-next{
                left: auto;
                right: -20px;
            }

            .slick-prev{
                right: auto;
                left: -20px;  
            }

            .slick-prev, .slick-next{
                top: 35%;
            }

            img{
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .feedback-block{

        &__text{
            font-size: 14px;
        }

    }

    .footer-info{
        padding: 30px 45px;
        width: 450px;
        height: 255px;
    }
  }

  @media (max-width: 767.98px) { 

    .header__logo{

        img{
            width: 60%;
        }
    }

    .promo{

        h1{
            font-size: 35px;
        }

        h2{
            font-size: 19px;
        }
    }

    .features-section{

        &__block{

            h3{
                font-size: 16px;
            }
        }
    }

    .consultation{

        &-header{
            font-size: 22px;
        }

        h3{
            font-size: 15px;
            text-align: left;
        }
    }

    .carousel{

        &__inner{
            height: 380px;

            .slick-prev, .slick-next{
                z-index: 9;
            }
        }
    }

    .catalog__tab{
        div{
            font-size: 14px;
        }
    }

    .catalog-item{
        width: 245px;

        &__prices{
            font-size: 14px;
        }

        &__through{
            font-size: 12px;
        }
    }

    .feedback-block{
        align-items: center;
    }

    .footer{

        &-info{
            width: 420px;
        }
    }

  }

  @media (max-width: 575.98px) { 

    .promo{

        h1{
            font-size: 23px;
        }

        h2{
            font-size: 12px;
        }

        &-wrapper{
            padding: 0 5px;
        }

        &__descr-block p{
            font-size: 9px;
        }

        &-button{
            width: 80%;
            height: 45px;
        }
    }

    .section-header{
        font-size: 22px;
    }

    .features-section{

        &__block h3{
            font-size: 14px;
            margin-top: 10px;
        }

        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__block{
            width: 50%;
            min-height: 170px;
        }
    }

    .consultation{
        h3{
            font-size: 12px;
            text-align: center;
        }

        &-header{
            font-size: 13px;
            text-align: center;
            line-height: 23px;
        }

        &__block{
            margin: 0 auto;
            max-width: 250px;
        }
    }

    .carousel{
        padding: 90px 0;

        &__inner{
            height: 240px;

            img{
                width: 75%;
            }

            .slick-prev, .slick-next {
                z-index: 9;
                top: 28%;

                &:focus{
                    outline: none;
                }
            }

            .slick-prev{
               left: -1px;
            }

            .slick-next{
                right: -1px;
            }
        }
    }

    .catalog-item__content{
        padding-right: 20px;

        &_active{
            padding-right: 0;
        }
    }

    .catalog-item__list_active li{
        font-size: 13px;
    }

    .catalog__tab {
        width: 100px;
        height: 40px;

        div{
            font-size: 9px;
            line-height: 35px;
        }
    }

    .feedback{

        &-block{
            text-align: center;
            flex-direction: column;

            &__img{
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    .footer{

        &-info{
            width: 300px;

        }

        &__social{
            a{
                margin: 0px 5px;
            }
        }
    }

    .popup{

        &__content{
            padding: 30px 30px 30px 30px;
            width: 290px;
            min-height: auto;
        }

        &__header{
            font-size: 14px;
        }

        &__subtitle{
            font-size: 11px;
        }
    }

    .feed-button{
        font-size: 11px;
    }

    .input{
        padding: 10px 5px 7px 10px;
    }

   }

   @media (max-width: 400px) {
       .popup{

        &__content{
            width: 240px;
        }
    }
   }